

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {

    display: flex;
    justify-content: space-between;
    margin: auto;
 
}


.liclass {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 20px;
    margin: 10px;
    list-style: none;
    padding-top: 30px;
    
}
.liclass li a {

    padding: 20px;
    text-decoration: none;
    margin: 10px;
    padding: 25px 20px;
    font-family: 'Nixie One', 'cursive';
    font-weight: bold;
    color:black;    
}
.liclass li a:hover{
    color:rgb(211, 45, 45);
     
}
.logoimage {
    width: 12%;
    padding: 20px;
    padding-left: 50px;
    height: auto;
}
.logoimage:hover{
    transform: scale(1.2);
}
.icons {
    
    font-size: 30px;
    margin-right: 50px;
    padding: 35px;    
}
.icons i {
    color: rgb(42, 54, 54);
    padding: 0px 10px;
    font-size: 25px;

}
.icons i:hover {
    color: red;
    transform: scale(1.5);
    

}
.my-account-heading {

    text-align: center;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding-bottom: 100px;
}
.login-register-form {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
   
}

.login-form {
    
    border: 2px solid rgb(212, 209, 209);
    width: 500px;
    height: 380px;
    padding: 20px 0px;
    box-shadow: 20px 20px 50px 60px,gray;
    border-radius: 5px;
    
   
}
.login-form-heading {

    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    
}
.text-user {
    padding: 0px 5px 0px 5px;
    color: #0768a8;
    
    


}
.text-width {

    width: 450px;
    height: 30px;
    border-radius: 2px;   
}
.username {

    padding-left: 15px;
}
.password {
    padding-top: 15px;
    padding-left: 15px;

}
.checkbox {
    padding-top: 15px;
    padding-left: 15px;
    color: #0768a8;
    font-weight: bold;
}
.login-btn {

    padding-left: 15px;
    padding-top: 20px;
    
    
}
.login-btn input{

    font-size: 20px;
    width: 100px;
    height: 40px;
    background-color: #3d76b3;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    
}
.forgot-password {

    padding-top: 20px;
    padding-left: 15px;
    
}
.forgot-password a p {

    color: #cf0606;
}
.Register-form {
     
    border: 2px solid rgb(212, 209, 209);
    width: 500px;
    height: 400px;
    padding: 20px 0px;
    box-shadow: 20px 20px 50px 60px,gray;
    border-radius: 5px;
}
.Register-form-heading{


    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    
}
.email-address {

    padding-top: 15px;
    padding-left: 15px;


}
.register-btn {

    padding-left: 15px;
    padding-top: 20px;
    

}
.register-btn input {
    font-size: 20px;
    width: 150px;
    height: 50px;
    background-color: #3d76b3;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    


}
section .brand-section{

    padding: 100px 50px; 
}

.our-brands-heading {
    color: #cf0606;
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
  
    
}


.brands-name-img {
    border-radius: 10px;
    padding-bottom: 15px;
    background-color: #d1dae2;
    text-align: center;
}
.brands-name-img:hover {

    transform: scale(0.9);
}

.brand-img {

   padding: 40px;
}
.fm-img {

    width: 200px;
}

.scrollbtn{
   
    text-align: center;
    margin: 10px;
    
    

    
}
.scrollbtn .btn {

    font-size: 20px;
    padding: 10px 20px;
    color:#cf0606;
    border-radius: 15px;
}
.footer-part {
    background-color:#b1bac4 ;
    display: flex;
    justify-content: space-evenly; 
    margin: 5px;
    padding-top: 30px;
     
     
   
}
.head h2{

    color: #3d76b3;
    font-weight: bold;
    padding-bottom: 20px;
    
    
}
a{
    text-decoration: none;
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
 .part-one-ul li  {

    text-decoration: none;
    padding: 5px;
    
}
.part-one-ul li {

    list-style: none;
}
.shop-text li{

    list-style: none;
    padding: 5px;

}
.social-icons i {

    font-size: 25px;
}
.add p {

    padding: 5px;
    font-size: 17px;

}
.copy-rights {
    background-color: #000000;
    text-align: center;
    font-size: 25px;
    color: #e8eaec;
    padding-top: 10px;
    font-family: 'Cousine', monospace;
}
.available {

    text-align: center;
    
}
.available-head {

    color: #cf0606;
    font-weight: 800;
    font-size: 30px;
    margin: 10px;
}
.available-img {

    margin: 20px;
}
.app-img {

    padding: 0px 20px;
    width: 200px;
}